table {
	border-collapse: collapse;
}

table td {
	border: 1px solid #000;
	padding: 2px 5px;
	text-align: center;
	cursor: pointer;
}

.hover {
	background: lightblue;
}

.selected {
	background: lightgreen;
}
